body{
    width: 100vw;
    background-color: aliceblue;
    
}

.expenses-list{
    display:flex;
    margin-left: 10px;
    margin-right: 50px;
    flex-direction: row;
 justify-content: center;
 align-items: center;
}

.expenses-list div{
    margin: 15px;
    margin-left:80px ;
    background-color:white ;
    padding: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items:center  ;
}